#page-new-room {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 6;

    background: var(--purple);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;

    img {
      max-width: 20rem;
    }

    strong {
      font: 700 2.25rem 'Poppins', sans-serif;
      line-height: 2.5rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: var(--white);
    }

  }

  main {
    flex: 9;

    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 22rem;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    strong {
      height: 2.5rem;
      padding: 0 2rem;
      color: var(--gray-basic);
      margin: 4rem 0 1.5rem;

      font: 700 1.5rem 'Poppins', sans-serif;
    }

    form {
      input {
        height: 3rem;
        width: 20rem;
        background: var(--white);
        border: 2px solid var(--gray-white);
        border-radius: 0.5rem;
        padding: 0 2rem;

        text-align: center;
      }

      button, input{
        width: 100%;
      }
    }

    .existing-room {
      display: flex;
      align-self: center;
      
      p {
        font-size: 14px;
        color: var(--gray-white);
        margin-top: 1rem;

        a {
          margin-left: 3px;
          color: var(--purple);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}